{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
<script src='https://septembed.rknight.me/sj.js?u=https://tiltify.com/@jd-burch/jd-burch-for-st-judes-2024'></script><br><br>
<style>
.sj-container p {
    color: white !important;
    background: black!important;
}

.sj-container {
    background: black!important;
    border: 2px solid #9300ff!important;

}
   
.sj-progress {
    background: #9300ff !important;
}

.sj-container:hover {
    background: black!important;
}
</style>

    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="https://jdburch.com/about">
                <img class="selfie" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.title }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
